
__pycache__/
*.pyc
*.pyo
*.pyd
*.log


.vscode/
.idea/

# HuggingFace 
hf_cache/
cache/


models/*
!models/.gitkeep
**/*.safetensors
**/*.bin
**/pytorch_model-*.bin
**/pytorch_model-*.safetensors
*.pt
*.ckpt


checkpoints/*
!checkpoints/traces/
!checkpoints/traces/**